@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}
<h1>@ViewBag.Title</h1>
<p class="lead">
    This sample demonstrates delegated user management using
    <a href="https://docs.microsoft.com/en-us/azure/active-directory-b2c/">Azure Active Directory B2C</a>
</p>
<p class="alert alert-warning lead">
    <b>
        IMPORTANT NOTE: The code in this repository is <i>not</i> production-ready. It serves only to demonstrate the
        main points via minimal working code, and contains no exception handling or other special cases. Refer to the
        official documentation and samples for more information. Similarly, by design, it does not implement any
        caching or data persistence (e.g. to a database) to minimize the concepts and technologies being used.
    </b>
</p>